@page
@model DigitalMegaFlare.Pages.ExcelWorldOnline.RazorEditModel
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "RazorEdit";
    ViewData["RootList"] = Model.Data.Files[""];
}
@if (ViewBag.Message != null && !string.IsNullOrWhiteSpace(ViewBag.Message.ToString()))
{
    <div id="TopAlertMessage" class="row d-block">
        <div role="alert" class="alert fade show alert-success alert-dismissible">
            @ViewBag.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
}
@if (ViewBag.Error != null && !string.IsNullOrWhiteSpace(ViewBag.Error.ToString()))
{
    <div id="TopAlert" class="row d-block">
        <div role="alert" class="alert fade show alert-danger alert-dismissible">
            @ViewBag.Error
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
}



<div class="form-group">
    <form method="post">
        <div class="row">
            <div class="col-6">
                <h3>Razorテンプレート開発改造室</h3>
            </div>
            <div class="col-6">
                <a href="./ExcelUpload" class="btn btn-primary btn-sm">Excel画面へ</a>
                <button id="Delete" type="submit" asp-page-handler="Delete" class="btn btn-danger btn-sm float-right">削除</button>
                <button id="Download" type="submit" asp-page-handler="Download" class="btn btn-success btn-sm float-right mr-5">ダウンロード</button>
                <button id="Update" type="submit" asp-page-handler="Update" class="btn btn-warning btn-sm float-right mr-5">更新</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <select id="SelectMainDirectory" asp-for="SelectMain" class="form-control">
                    <option value="">----- 言語・ライブラリ -----</option>
                </select>
            </div>
            <div class="col-4">
                <select id="SelectSubDirectory" asp-for="SelectSub" class="form-control">
                    <option value="">----- 分類 -----</option>
                </select>
            </div>
            <div class="col-4">
                <select id="SelectFile" asp-for="RazorId" class="form-control">
                    <option value="">----- ファイル -----</option>
                </select>
            </div>
        </div>

        <textarea id="RazorScript" name="razorScript" placeholder="Razorスクリプト" class="form-control" TextMode="multiline" rows="36" style="font-size: 12px;">@ViewData["Script"]</textarea>

        <div class="row">
            <div class="col d-flex  justify-content-end">
                <input name="mainName" type="text" placeholder="メインフォルダ名" />
                <input name="subName" type="text" placeholder="サブフォルダ名" />
                <input name="fileName" type="text" placeholder="ファイル名（拡張子なし）" />
                <button id="Update" type="submit" asp-page-handler="Update" class="btn btn-warning btn-sm">更新</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        var _files = @Html.Raw(JsonConvert.SerializeObject(Model.Data.Files));

        // ページを全て読み込み終わった後に実行する
        $(window).on('load', function() {
            _files[''].forEach((value) => {
                $('#SelectMainDirectory').append('<option value="' + value.Value + '">' + value.Text + '</option>');
            });
        });

        // リストボックス：メイン
        $('#SelectMainDirectory').on('change', function () {
            // 取り除く
            $('#SelectSubDirectory').children().remove();
            $('#SelectFile').children().remove();
            $('#SelectSubDirectory').append('<option value="">----- 分類 -----</option>');
            $('#SelectFile').append('<option value="">----- ファイル -----</option>');

            // 選択肢のセット
            if (this.value != '') {
                _files[this.value].forEach((value) => {
                    $('#SelectSubDirectory').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                });
            }
        });

        // リストボックス：サブ
        $('#SelectSubDirectory').on('change', function () {
            // 取り除く
            $('#SelectFile').children().remove();
            $('#SelectFile').append('<option value="">----- ファイル -----</option>');

            // 選択肢のセット
            if (this.value != '') {
                _files[this.value].forEach((value) => {
                    $('#SelectFile').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                });
            }
        });

        // ファイル選択時、サーバからRazorを取得
        $('#SelectFile').on('change', function () {
            if (this.value != '') {
                var formData = new FormData();
                formData.append('razorId', this.value);
                $.ajax({
                    type: 'POST',
                    url: '../Razor/Load',   // 相対パスであることに注意。動かしたらできなくなるぞ。
                    contentType: false,
                    processData: false,
                    data: formData
                }).then(
                    function (data) {
                        if (data != null && data.message != undefined) {
                            $('#RazorScript').text(data.message);
                        }
                    },
                    function (data) {
                        alert('ファイルが取れなかった');
                    }
                );
            }
        });


        // <button id="BtnA" class="btn btn-success btn-sm" key="1">Sample</button>
        $('#Delete').on('click', function (e) {
            if (!window.confirm('本当にいいんですね？')) {
                // キャンセル時の処理
                e.preventDefault();
            }
        });
    </script>
}
