<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog 内部のログはいったん出力しないこととする -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

<extensions>
  <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- 本番系(CentOS)設定 -->
    <!-- デプロイしてから、ファイルをリネームしてnlog.configと差し替えること -->
    <!-- ユーザにlogフォルダアクセス権限はないので、手動でフォルダを作成し所有者を変更しておくこと -->
    <!-- 情報ログ -->
    <target xsi:type="File" name="ownFile-web" fileName="/var/log/aspnetcore/DigitalMegaFlare/${date:format=yyyy}/${date:format=MM}/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <!-- エラーログ -->
    <target xsi:type="File" name="ownFile-error" fileName="/var/log/aspnetcore/DigitalMegaFlare/${date:format=yyyy}/${date:format=MM}/nlog-error-${shortdate}.log"
            layout="${longdate},${message} ${exception:format=tostring}" />
    <!-- アクセスログ -->
    <target xsi:type="File" name="ownFile-access" fileName="/var/log/aspnetcore/DigitalMegaFlare/${date:format=yyyy}/${date:format=MM}/nlog-access-${shortdate}.log"
            layout="${longdate},${message} ${exception:format=tostring}" />
  </targets>
  <rules>
  <!--Microsoft.* のクラスの Info レベル以下のログはスキップ-->
  <logger name="Microsoft.*" maxLevel="Info" final="true" />
  <logger name="*" minlevel="Info" maxLevel="Warn" writeTo="ownFile-web" />
  <logger name="*" minlevel="Error" writeTo="ownFile-error" />
  <!-- HomeController に対するアクセスログ( Info レベル)のみ記録 -->
  <logger name="DigitalMegaFlare.Controllers.HomeController" minLevel="Info" maxLevel="Info" writeTo="ownFile-access" />
  </rules>
  </nlog>