@page
@model DigitalMegaFlare.Pages.SimpleGenerate.HtmlToJqueryModel
@{
    ViewData["Title"] = "jQuery作成サービス";
}

<h1>jQuery作成サービス</h1>

<hr />
    <p>
        ああああ
    </p>
<hr />
<form method="post">
    <ul>
        <li>簡潔に書くように心がけましょう</li>
        <li>見やすいフォーマットを工夫しましょう</li>
        <li>Markdownが使用できます（表示は詳細画面）</li>
    </ul>
    <textarea placeholder="HTMLタグ入力" asp-for="Input" class="form-control" TextMode="multiline" rows="15"></textarea>
    <div class="form-group">
        <input asp-page-handler="Trans" type="submit" value="変換" class="btn btn-primary" title="変換する"/>
    </div>

    <textarea placeholder="出力結果" class="form-control" TextMode="multiline" rows="15" readonly>@ViewData["Output"]</textarea>
</form>
