@page
@model DigitalMegaFlare.Pages.SimpleGenerate.IndexModel

@{
    ViewData["Title"] = "凄いコード生成コーナー";
}

<h3>驚異の生成力！しかも無料！</h3>

<div class="text-center">
    <p><a href="@Url.Content("~/SimpleGenerate/SnippetFactory")">スニペット作成サービス</a></p>
    <p><a href="@Url.Content("~/SimpleGenerate/SandBox")">T4実験室</a></p>
    <p><a href="@Url.Content("~/SimpleGenerate/SandBox")">Razor実験室</a></p>

    <p><a href="@Url.Content("~/SimpleGenerate/HtmlToJquery")">jQuery作成サービス（没）</a></p>
</div>


