@page
@model DigitalMegaFlare.Pages.SimpleGenerate.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "凄いコード生成コーナー";
}

<h3>驚異の生成力！しかも無料！</h3>

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        // ログインしている人だけ
        <p><a href="@Url.Content("~/SimpleGenerate/HtmlToJquery")">jQuery作成サービス（没）</a></p>
    }
    <p><a href="@Url.Content("~/SimpleGenerate/SnippetFactory")">スニペット作成サービス</a></p>

    <p><a href="@Url.Content("~/SimpleGenerate/Razor")">CSVからRazor生成する実験室</a></p>
    <p><a href="@Url.Content("~/SimpleGenerate/SandBox")">ただの実験室</a></p>

</div>


