@page
@model DigitalMegaFlare.Pages.SimpleGenerate.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "凄いコード生成コーナー";
}

<h3>驚異の生成力！しかも無料！</h3>

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        // ログインしている人だけ
        <p><a href="@Url.Content("~/SimpleGenerate/HtmlToJquery")">jQuery作成サービス（没）</a></p>
        <p><a href="@Url.Content("~/SimpleGenerate/SandBox")">ただの実験室</a></p>
    }
    <p><a href="@Url.Content("~/SimpleGenerate/SnippetFactory")">スニペット作成サービス</a></p>

    <p><a href="@Url.Content("~/SimpleGenerate/Razor")">Excelのアップロード実験室</a></p>

    <h4>今後の予定</h4>
    <p>Excelのアップロードができたので</p>
    <p>アップしたExcelを移動させて格納する。一覧、ダウンロード</p>
    <p>（オンライン編集は不要）</p>
    <p>Razorテンプレートのアップロード</p>
    <p>Razorテンプレートも、同じく格納して一覧表示する。</p>
    <p>Razor内フィールドとExcelとの紐づけ方法を考える。ここだよなあ…リストもあるし。</p>
    <p>参照するExcelとシートを指定して生成</p>
</div>


