@page
@using Mintea.SnippetGenerator
@model DigitalMegaFlare.Pages.SimpleGenerate.SnippetFactoryModel
@{
    ViewData["Title"] = "スニペット作成サービス";
}

<h1>スニペット作成サービス</h1>

<hr />
<p>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        使い方
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <h5>■これは何？■</h5>
        <p>VisualStudioのコードスニペットファイルを作成します。</p>
        <h5>■使い方は？■</h5>
        <p>テンプレートにしたいものをペタっと貼ります。</p>
        <p>XML生成ボタンを押します。</p>
        <p>良ければダウンロードボタンでファイルを取得します。</p>
        <ul>
            <li>作ったXMLファイルはここに保存しましょう。</li>
            <li>C:\Users\(username)\Documents\Visual Studio 2019\Code Snippets\Visual C#\My Code Snippets</li>
        </ul>
    </div>
</div>
<hr />
<form method="post">
    <!-- TODO:Columnを切って、項目名を書く-->
    <!-- TODO:placeholderは項目名でなく値を書く-->
    <input placeholder="ファイル名" asp-for="Input.Title" class="form-control" />
    <input placeholder="作者" asp-for="Input.Author" class="form-control" />
    <input placeholder="説明" asp-for="Input.Description" class="form-control" />
    <input placeholder="ショートカットフレーズ" asp-for="Input.Shortcut" class="form-control" />
    <input placeholder="作者" asp-for="Input.Author" class="form-control" />
    <input placeholder="言語" asp-for="Input.Language" class="form-control" />
    <input placeholder="特殊文字" asp-for="Input.Delimiter" class="form-control" />
    <input placeholder="スニペットの種類" asp-for="Input.Kind" class="form-control" />
    <input placeholder="作者" asp-for="Input.Author" class="form-control" />
    <select asp-for="Input.Language" asp-items="Html.GetEnumSelectList(typeof (Language))" class="form-control"></select>
    <select asp-for="Input.Kind" asp-items="Html.GetEnumSelectList(typeof (Kind))" class="form-control"></select>
    <textarea placeholder="テンプレート入力" asp-for="Input.Code" class="form-control" TextMode="multiline" rows="5"></textarea>
    <div class="form-group">
        <input asp-page-handler="GenerateXml" type="submit" value="XML生成" class="btn btn-primary" title="XML生成" />
        <input asp-page-handler="Download" type="submit" value="ダウンロード" class="btn btn-primary" title="ダウンロード" />
    </div>
    <!-- TODO:リスト入力を作る、Declarations、Imports -->

    <textarea placeholder="出力結果" class="form-control" TextMode="multiline" rows="10" readonly>@ViewData["Output"]</textarea>
</form>
