@page
@model DigitalMegaFlare.Pages.Doodle.IndexModel
@{
    ViewData["Title"] = "落書き帳";
    if (ViewData["Error"] != null)
    {
        <div role="alert" class="alert fade show alert-danger">@ViewData["Error"]</div>
    }
}

<h1>落書き帳</h1>
<p>このサイトは、ASP.NET Core 3.0, CentOS8, MariaDB, 多少の好奇心 でできています。</p>

<textarea placeholder="出力結果" class="form-control" TextMode="multiline" rows="10" readonly>@ViewData["Message"]</textarea>

<form method="post">
    <button type="submit" class="btn btn-primary btn-sm">なにこれ</button>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/src/js/doodle.js"></script>*@
}

