@page
@model DigitalMegaFlare.Pages.Doodle.IndexModel
@{
    ViewData["Title"] = "落書き帳";
}

<h1>落書き帳</h1>
<p>このサイトは、ASP.NET Core 3.0, CentOS8, MariaDB, Vue.js, 多少の好奇心 でできています。</p>

<h3>考え事</h3>
<p>これから何作ろうかな。。。</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        // 何か関数
        function aaaaFunction() {
        };

        // 何かクリック
        $('img[name=aaaa]').on('click', function () {
        });

    </script>
}

