@page
@model IndexModel
@{
    ViewData["Title"] = "謎のサイト ～Degital Mega Flare～";
}

<div class="text-center">
    <h1>よくきたな</h1>
    <p><a href="@Url.Content("~/SimpleGenerate")">凄いコード生成コーナー</a></p>
    <p><a href="@Url.Content("~/Doodle")">落書き帳</a></p>
    <p><a href="@Url.Content("~/Doodle/CsvLabo")">CSV実験室</a></p>
</div>
