@page
@using Mintea.SnippetGenerator
@model DigitalMegaFlare.Pages.SnippetFactoryModel
@{
    ViewData["Title"] = "スニペット作成サービス";
}

<style>
    /* 見えにくいので横線のスタイル変更 */
    hr{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #aaaaff;
        border: 0
    }
</style>

<h1>スニペット作成サービス</h1>

<hr />
<p>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        説明
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <h5>■これは何？</h5>
        <p>VisualStudioのコードスニペットファイルを作成します。</p>
        <h5>■使い方は？</h5>
        <p>テンプレートにしたいものをペタっと貼ります。</p>
        <p>XML生成ボタンを押します。</p>
        <p>良ければダウンロードボタンでファイルを取得します。</p>
        <ul>
            <li>作ったXMLファイルはここに保存しましょう。</li>
            <li>C:\Users\(username)\Documents\Visual Studio 2019\Code Snippets\Visual C#\My Code Snippets</li>
        </ul>
    </div>
</div>
<hr />
<form method="post">
    <div class="form-group">
        <!-- 一般項目 -->
        <div class="row">
            <div class="col-6 d-flex align-items-center">ファイル名</div>
            <div class="col-4"><input placeholder="Untitled" asp-for="Input.Title" class="form-control" /></div>
            <div class="col-2 d-flex align-items-center ml-0 pl-0">.snippet</div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">作者</div>
            <div class="col"><input placeholder="ginpay" asp-for="Input.Author" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">説明</div>
            <div class="col"><input placeholder="～～をする処理を書きます。" asp-for="Input.Description" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">ショートカットフレーズ</div>
            <div class="col"><input placeholder="cs_aaaa" asp-for="Input.Shortcut" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">言語</div>
            <div class="col"><select asp-for="Input.Language" asp-items="Html.GetEnumSelectList(typeof (Language))" class="form-control"></select></div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">特殊文字<BR>（VisualStudioの仕様上、設定しない場合'$'になります。）</div>
            <div class="col"><input placeholder="$" asp-for="Input.Delimiter" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">スニペットの種類</div>
            <div class="col"><select asp-for="Input.Kind" asp-items="Html.GetEnumSelectList(typeof (Kind))" class="form-control"></select></div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseKind" aria-expanded="false" aria-controls="collapseKind">
                種類について
            </button>
        </div>
        <div class="collapse" id="collapseKind">
            <div class="card card-body">
                <p>種類によってスニペットの呼び出せる場所が変わります。</p>
                <ol>
                    <li>MethodBody<ol>処理のみ：メソッドの内部で使用する</ol></li>
                    <li>MethodDecl<ol>メソッド宣言含む：クラスの中、メソッドの外で使用する</ol></li>
                    <li>TypeDecl<ol>型：クラスの中、メソッドの外で使用する</ol></li>
                    <li>File<ol>完全なコードファイル：単体でコードファイル、名前空間内に使用する</ol></li>
                    <li>Any<ol>どこにでも使用できる</ol></li>
                </ol>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-2 d-flex align-items-center">テンプレート入力</div>
            <div class="col-10 d-flex align-items-center">※上の特殊文字を変数以外で使用しないように注意してください。変数は"$type$"のように書きます。</div>
            <textarea placeholder="Console.WriteLine();" asp-for="Input.Code" class="form-control" TextMode="multiline" rows="5"></textarea>
        </div>
        <!-- リスト入力項目 -->
        <div class="mt-3">
            <div class="row">
                <div class="col-4 d-flex align-items-center">テンプレート内変数</div>
                <div class="col-8">
                    <button id="ButtonAddDeclaration" type="button" class="btn btn-success float-right mx-3">追加</button>
                    <button type="button" class="btn btn-info float-right mx-3" data-toggle="collapse" data-target="#collapseDeclarations" aria-expanded="false" aria-controls="collapseKind">
                        適用関数について
                    </button>
                </div>
            </div>
            <div class="collapse" id="collapseDeclarations">
                <div class="card card-body">
                    <p>変数に対し関数を適用します。</p>
                    <ol>
                        <li>None<ol>関数を適用しません</ol></li>
                        <li>GenerateSwitchCases<ol>Switch文のCaseを生成する。要引数：他のリテラルの変数名を指定（リテラルの型は列挙体）</ol></li>
                        <li>ClassName<ol>スニペット導入するクラス名を設定する、引数なし</ol></li>
                        <li>SimpleTypeName<ol>引数の型名を最も単純な形にする、要引数：型名を指定</ol></li>
                    </ol>
                </div>
            </div>
            <table class="table table-sm table-hover" id="TableDeclaration">
                <thead>
                    <tr>
                        <th>変数名</th>
                        <th>説明</th>
                        <th>デフォルト値</th>
                        <th>適用関数</th>
                        <th>適用関数の引数</th>
                        <th>削除</th>
                    </tr>
                </thead>
            </table>
        </div>
        <hr />
        <div class="mt-3">
            <div class="row">
                <div class="col-4 d-flex align-items-center">インポート情報</div>
                <div class="col-8">
                    <button id="ButtonAddImport" type="button" class="btn btn-success float-right mx-3">追加</button>
                </div>
            </div>
            <table class="table table-sm table-hover" id="TableImport">
                <!-- Namespace -->
                <thead>
                    <tr>
                        <th>Import文に追加する参照</th>
                        <th>削除</th>
                    </tr>
                </thead>
            </table>
        </div>

        <input asp-page-handler="GenerateXml" type="submit" value="XML生成" class="btn btn-primary mx-3" title="XML生成" />
        <input asp-page-handler="Download" type="submit" value="ダウンロード" class="btn btn-primary mx-3" title="ダウンロード" />
    </div>
    <textarea placeholder="出力結果" class="form-control" TextMode="multiline" rows="10" readonly>@ViewData["Output"]</textarea>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        // 追加ボタン
        $('#ButtonAddDeclaration').on('click', function () {
            // $('#TableDeclaration')のtbodyの数を数える、非表示含む
            var count = $('#TableDeclaration').children('tbody').length;

            // 要素を追加
            // 削除のためにidを付与
            // 削除していることを示すため空にする要素にidを付与
            // イベント発火がある要素にkeyを付与、値操作がある要素にid付与
            // nameは決まったものしか付与してはならない。それ以外の要素は自由（"key"とか"data-***"とか）
            var tbodyDeclaration = '<tbody id="TbodyDeclaration' + count + '">';
            tbodyDeclaration += '    <tr>';
            tbodyDeclaration += '        <td><input id="InputDeclarationId' + count + '" placeholder="type" class="form-control" type="text" name="Input.Declarations[' + count + '].Id" value="" /></td>';
            tbodyDeclaration += '        <td><input placeholder="プロパティの型" class="form-control" type="text" id="Input_Declarations_' + count + '__ToolTip" name="Input.Declarations[' + count + '].ToolTip" value="" /></td>';
            tbodyDeclaration += '        <td><input placeholder="int" class="form-control" type="text" id="Input_Declarations_' + count + '__Default" name="Input.Declarations[' + count + '].Default" value="" /></td>';
            tbodyDeclaration += '        <td><select key="InputDeclarationFunction" data-index="' + count + '" id="InputDeclarationFunction' + count + '" class="form-control" name="Input.Declarations[' + count + '].Function">';
            tbodyDeclaration += '                <option value="0">None</option>';
            tbodyDeclaration += '                <option value="1">GenerateSwitchCases</option>';
            tbodyDeclaration += '                <option value="2">ClassName</option>';
            tbodyDeclaration += '                <option value="3">SimpleTypeName</option>';
            tbodyDeclaration += '            </select>';
            tbodyDeclaration += '        </td>';
            tbodyDeclaration += '        <td><input id="InputDeclarationFunctionValue' + count + '" placeholder="" class="form-control" type="text" name="Input.Declarations[' + count + '].FunctionValue" value="" disabled /></td>';
            tbodyDeclaration += '        <td>';
            tbodyDeclaration += '            <button data-index="' + count + '" name="ButtonDeleteDeclaration" type="button" class="btn btn-danger">×</button>';
            tbodyDeclaration += '        </td>';
            tbodyDeclaration += '    </tr>';
            tbodyDeclaration += '</tbody>';

            $('#TableDeclaration')
                .append(tbodyDeclaration);

        });

        // 追加ボタン
        $('#ButtonAddImport').on('click', function () {
            // $('#TableImport')のtbodyの数を数える、非表示含む
            var count = $('#TableImport').children('tbody').length;

            // 要素を追加
            var tbodyImport = '<tbody id="TbodyImport' + count + '">';
            tbodyImport += '    <tr>';
            tbodyImport += '        <td><input id="InputImport' + count + '" placeholder="System.Data" class="form-control" type="text" name="Input.Imports[' + count + ']" value="" /></td>';
            tbodyImport += '        <td><button data-index="' + count + '" name="ButtonDeleteImport" type="button" class="btn btn-danger">×</button></td>';
            tbodyImport += '    </tr>';
            tbodyImport += '</tbody>';

            $('#TableImport') 
                .append(tbodyImport); 
        });
        
        // 削除ボタン
        // データが歯抜けになるとサーバに送った時そこで配列が切れてしまう
        // 編集のことも考慮すると削除フラグ入れて非表示にするのが良い
        $(document).on('click', 'button[name=ButtonDeleteDeclaration]', function () { 
            var index = $(this).data('index');
            $('#TbodyDeclaration' + index).addClass('d-none');
            $('#InputDeclarationId' + index).val('');  // 空文字列で削除したことにする
        }); 

        // 削除ボタン
        $(document).on('click', 'button[name=ButtonDeleteImport]', function () { 
            var index = $(this).data('index');
            $('#TbodyImport' + index).addClass('d-none');
            $('#InputImport' + index).val('');  // 空文字列で削除したことにする
        }); 

        // テーブルの内容を削除する 
        function deleteQuestion(questionid) {
            $('#table' + questionid).remove();
        }

        // 選択した関数によって引数欄を無効化
        $(document).on('change', 'select[key=InputDeclarationFunction]', function () { 
            var index = $(this).data('index');
            var val = $(this).val();
            $('#InputDeclarationFunctionValue' + index).val("aaaa" + val);
            if (val === '0') {
                $('#InputDeclarationFunctionValue' + index).val('');
                $('#InputDeclarationFunctionValue' + index).attr('disabled', true);
            } else if(val === '1') {
                $('#InputDeclarationFunctionValue' + index).val('$enumId$');
                $('#InputDeclarationFunctionValue' + index).attr('disabled', false);
            } else if(val === '2') {
                $('#InputDeclarationFunctionValue' + index).val('');
                $('#InputDeclarationFunctionValue' + index).attr('disabled', true);
            } else if(val === '3') {
                $('#InputDeclarationFunctionValue' + index).val('global::System.Console');
                $('#InputDeclarationFunctionValue' + index).attr('disabled', false);
            }
        }); 
        
    </script>
}
