@page
@model DigitalMegaFlare.Pages.SimpleGenerate.Razor.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Razor実験室</h1>

<div class="text-center">
    <p><a href="@Url.Content("~/SimpleGenerate/Razor/CsvLabo")">CSV実験室</a></p>

    <p><a href="@Url.Content("~/SimpleGenerate/Razor/CsvUpload")">CSVアップロード</a></p>

    <p><a href="@Url.Content("~/SimpleGenerate/Razor/ExcelUpload")">Excelアップロード</a></p>

    <p><a href="@Url.Content("~/SimpleGenerate/Razor/Template")">テンプレートアップロード</a></p>
</div>

