@page
@model DigitalMegaFlare.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExcelInputHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExcelInputHistory.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ExcelInputHistory.IsLocked" /> @Html.DisplayNameFor(model => model.ExcelInputHistory.IsLocked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ExcelInputHistory.RawFileName" class="control-label"></label>
                <input asp-for="ExcelInputHistory.RawFileName" class="form-control" />
                <span asp-validation-for="ExcelInputHistory.RawFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcelInputHistory.FileName" class="control-label"></label>
                <input asp-for="ExcelInputHistory.FileName" class="form-control" />
                <span asp-validation-for="ExcelInputHistory.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcelInputHistory.Comment" class="control-label"></label>
                <input asp-for="ExcelInputHistory.Comment" class="form-control" />
                <span asp-validation-for="ExcelInputHistory.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcelInputHistory.InputDate" class="control-label"></label>
                <input asp-for="ExcelInputHistory.InputDate" class="form-control" />
                <span asp-validation-for="ExcelInputHistory.InputDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcelInputHistory.Host" class="control-label"></label>
                <input asp-for="ExcelInputHistory.Host" class="form-control" />
                <span asp-validation-for="ExcelInputHistory.Host" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcelInputHistory.Ip" class="control-label"></label>
                <input asp-for="ExcelInputHistory.Ip" class="form-control" />
                <span asp-validation-for="ExcelInputHistory.Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcelInputHistory.Url" class="control-label"></label>
                <input asp-for="ExcelInputHistory.Url" class="form-control" />
                <span asp-validation-for="ExcelInputHistory.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
